{% extends 'base.html' %}

{% block title %} Add new employee {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron p-3">
            <div class="well text-center">
                <h1>Add new employee</h1>
            </div>
        </div>
        <form method="POST" action="">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" name="name" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Surname</label>
                <input class="form-control" type="text" name="surname" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" name="email" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone number</label>
                <input class="form-control" type="number" name="number" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Position</label>
                <input class="form-control" type="text" name="position" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
